.clientInfoContainer {
    align-items: center;
    padding: 0% 10% 0%;
}

.center{
    display: flex;
    align-items: center;
}

.userImg{
    border-radius:50%;
    width:90%;
    vertical-align:middle;
}

.separator{
    padding-top: 5%;
}

.infoTitles{
    color:#aeaeae;
    border-bottom: #aeaeae solid 1px;
}

.infoTitles2{
    color:black;
}

.nopadding{
    padding:0% !important;
}

.padding_l3{
    padding-left:3% !important;
}

.inline{
    display:flex;
    justify-content:space-between;
}

.h4{
    border-bottom: black solid 1px;
}