.logo {
    margin-top:13%;
    width: 40%;
    text-align:center;
  }

.text {
    margin-top:1em;
}

.unauthorized {
  margin-top:13%;
  width: 20%;
  text-align:center;
}

.text {
  margin-top:1em;
}