.home{
    height: 85vh;
}

.logo{
    position: absolute;
    width:15%;
    top:40%;
    left:40%;
}

.category {
    position:absolute;
    width:20vh;
    height:20vh;
    border-radius: 50%;
    border: black solid 2px;
    /* background-color: #2f2f2f; */
}

.employees {
    position:absolute;
    width:20vh;
    height:20vh;
    border-radius: 50%;
    border: black solid 2px;
    background-image: url("../assets/categories/employees.png");
    background-size: cover;
    top:50%;
    color:white;
}

.employee

.inventory {
    background-image: url("../assets/categories/inventory.png");
}

.warehouse{
    background-image: url("../assets/categories/warehouse.png");
}

.requests {
    background-image: url("../assets/categories/requests.png");
}

.incoming{
    background-image: url("../assets/categories/incoming.png");
}

.orders{
    background-image: url("../assets/categories/orders.png");
}

.waves{
    background-image: url("../assets/categories/waves.png");
}

