.row{
    height: 85vh;
    width:100% !important;
    margin:0 !important;
}

.row a:hover {
    text-decoration: none;
}

.logo{
    position: absolute;
    width:10%;
    top:45%;
    left:42%;
}

.category {
    width:33.3333333vw;
    height:90.4vh;
    background-size: cover;
    filter: grayscale(100%);
}

.category:hover {
    animation: selected 0.5s forwards;
}

@keyframes selected {
  0%   {filter:grayscale(100%)}
  100% {filter:grayscale(0%);}
}

.text{
    color:black;
    position:relative;
    top:90%;
    text-align: center;
    text-decoration: none;
}

.text:hover{
    color:white;
}

.warehouse{
    background-image: url("../assets/categories/warehouse.png");
}

.requests {
    background-image: url("../assets/categories/requests.png");
}

.orders{
    background-image: url("../assets/categories/orders.png");
}


